:root {
/*color vars for CSS ----- if you change colors change only here*/
    --primary-color:RoyalBlue;
    --secondary-color:SeaGreen;
    --text-color:MidnightBlue;
    --button_text-color:white;
    
    --pr_on_hover-color:DodgerBlue;
    --sec_on_hover-color:#17c578;
    --bg_light-color:white;
    --bg_darker-color:Ivory;
    
    --border-color:SkyBlue;
    --shadow-color:LightGray;
    
/*alternative colors  
    --primary-color:rgb(255, 51, 0);
    --secondary-color:rgb(255, 102, 0);
    --text-color:rgb(20, 100, 5);
    --button_text-color:white;
    
    --pr_on_hover-color:rgb(255, 15, 0);
    --sec_on_hover-color:rgb(255, 133, 51);
    --bg_light-color:white;
    --bg_darker-color:rgb(240, 255, 190);
    
    --border-color:rgb(140, 255, 100);
    --shadow-color:rgb(220, 220, 180)
*/     
}
body {
	margin: 0px;
    border: 20px solid var(--border-color);
    padding: 25px;
    background-image: linear-gradient(var(--bg_light-color),
    var(--bg_light-color), var(--bg_light-color), var(--bg_darker-color));
    /*background-color: var(--bg_light-color); you can remove gradient line and
    use this instead*/
}

h1 {
    
    color: var(--primary-color);
   
    letter-spacing: 3px; /*makes space between letters bigger,
    fell free to remove this if you don't like it*/
    text-shadow: 3px 3px var(--shadow-color); /*obviously creates shadow,
    fell free to remove this if you don't like it*/
}

h2 {
    
    color: var(--secondary-color);
}

p {
    /*text-indent: 15px;    put this on if you want to have tab
    in the beginning of the paragrath*/
    color: var(--text-color);
}

/*----------------button styles-------------------*/
.button { 
    /* write: <button class="button">Button_text</button>
    to make a styled button*/
    background-color: var(--primary-color);
    border: none;
    color: var(--button_text-color);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: var(--pr_on_hover-color);
}

.button2 {background-color: var(--secondary-color);} /*<button class="button button2">*/

.button2:hover {
    background-color: var(--sec_on_hover-color);
}
/*-------------------------------------------------------------*/

/*---------------------navigation bar style--------------------*/
/*usage example:
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
</ul>
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--sec_on_hover-color);
}

li {
    float: left;
}

li a {
    display: block;
    background-color: var(--sec_on_hover-color);
    border: none;
    color: var(--button_text-color);
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
    padding: 10px 20px;
    transition-duration: 0.4s;
    text-decoration: none;
}

li a:hover {
    background-color: var(--secondary-color);
}
.active {
    background-color: var(--secondary-color);
}
/*-------------------------------------------------------------*/