<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
.btn-primary {
	background-color: #123456;
	text-align: center;
	position: absolute;
	top: 50%;
}


#center-right a
{ 
	width:17em
}
#center-right
{
  margin: 2px;
  width: 60%;
  
  text-align: center;
  position: absolute;
  left: 49.75%;
  transform: translate(-50%, -50%);
  top: 44%;
}

#center-left a
{
	width:17em
}
#center-left
{
  margin: 2px;
  width: 60%;
  text-align: center;
  position: absolute;
  left: 49.75%;
  transform: translate(-50%, -50%);
  top: 56%;
}
#second-right a
{
	width:17em
}
#second-right
{
  margin: 2px;
  width: 60%;
  text-align: center;
  position: absolute;
  left: 49.75%;
  transform: translate(-50%, -50%);
  top: 68%;
}

#second-left a
{
	width:17em
}
#second-left
{
  margin: 2px;
  width: 60%;
  text-align: center;
  position: absolute;
  left: 49.75%;
  transform: translate(-50%, -50%);
  top: 80%;
}
.navbar {
    margin-bottom: 0;
    background-color: #123456;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
	font-family: Montserrat, sans-serif;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}

* {
  box-sizing: border-box;
}

body, html {
    height: 100%;
}

.bg-image {
    /* The image used */
    background-image: url("car.jpg");

    /* Full height */
    height: 100%;
	 background-color: #123456; /* Fallback color */
  background-color: #123456; /* Black w/opacity/see-through */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-header {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 8px #808080;
}

.bg-text {
  text-align: center;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 8px #808080;
}
.button {
   border: 2px solid #123456;
   background: #123456;
   background: -webkit-gradient(linear, left top, left bottom, from(#123456), to(#123456));
   background: -webkit-linear-gradient(top, #123456, #123456);
   background: -moz-linear-gradient(top, #123456, #123456);
   background: -ms-linear-gradient(top, #123456, #123456);
   background: -o-linear-gradient(top, #123456, #123456);
   background-image: -ms-linear-gradient(top, #123456 0%, #123456 100%);
   padding: 20px 40px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #123456 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#123456), to(#ffffff));
   background: -webkit-linear-gradient(top, #123456, #ffffff);
   background: -moz-linear-gradient(top, #123456, #ffffff);
   background: -ms-linear-gradient(top, #123456, #ffffff);
   background: -o-linear-gradient(top, #123456, #ffffff);
   background-image: -ms-linear-gradient(top, #123456 0%, #ffffff 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #123456;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #123456);
   background: -moz-linear-gradient(top, #ffffff, #123456);
   background: -ms-linear-gradient(top, #ffffff, #123456);
   background: -o-linear-gradient(top, #ffffff, #123456);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #123456 100%);
   color: #fff;
   }
   
.btn {
    font-size: 13px
}