<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Park4You</display-name>
  <context-param>
    <param-name>com.auth0.domain</param-name>
    <param-value>park4you.eu.auth0.com</param-value>
  </context-param>
  <context-param>
    <param-name>com.auth0.clientId</param-name>
    <param-value>IbIrA21WE75buPRW6IBTsOEO3y6F1oIl</param-value>
  </context-param>
  <context-param>
    <param-name>com.auth0.clientSecret</param-name>
    <param-value>FPQyx2AsX2eB_QUdMd-G_Nlri2Foq4-8qGfi6qRwTWHMmdHRSpTbOG-xaAXgMH0U</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>